{
  "comments": false,
  "presets": [
    "minify",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "esmodules": true
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "onlyRemoveTypeImports": true
      }
    ]
  ],
  "ignore": ["src/**/*.d.ts"]
}
